* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfume-gabrielleEssence {
  width: 92%;
  height: 95%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0.625rem;
}
.perfume-gabrielleEssence img {
  width: 100%;
  height: 40%;
  background-size: cover;
  border-radius: 0.625rem 0.625rem 0 0;
}
.perfume-gabrielleEssence .image2 {
  display: none;
}
.perfume-gabrielleEssence .gabrielleEssence-description {
  margin: auto;
  width: 90%;
  height: 37%;
}
.perfume-gabrielleEssence .gabrielleEssence-description .Perfume-title {
  font-size: 0.6875rem;
  color: hsl(228, 12%, 48%);
  display: block;
  margin-top: 1rem;
  font-family: "Montserrat", sans-serif;
}
.perfume-gabrielleEssence .gabrielleEssence-description h1 {
  font: 1.55rem "Fraunces", serif;
  font-weight: 700;
  color: hsl(212, 21%, 14%);
  padding-top: 0.3125rem;
  line-height: 2rem;
  margin-right: 1.25rem;
}
.perfume-gabrielleEssence .gabrielleEssence-description pre {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  line-height: 1.125rem;
  text-align: left;
  white-space: pre-line;
}
.perfume-gabrielleEssence .button-area {
  margin: auto;
  width: 90%;
  height: 4.375rem;
  display: block;
}
.perfume-gabrielleEssence .button-area .active {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 1.5rem;
  display: inline-block;
  width: 8.125rem;
  font-family: "Fraunces", serif;
}
.perfume-gabrielleEssence .button-area .on-sale {
  display: inline-block;
  width: 6.25rem;
  font-size: 0.75rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  translate: -2.5rem -0.3rem;
}
.perfume-gabrielleEssence .button-area button {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(158, 36%, 37%);
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
.perfume-gabrielleEssence .button-area button img {
  margin-right: 0.875rem;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
}
.perfume-gabrielleEssence .button-area button:hover {
  cursor: pointer;
  background-color: hsl(158, 39%, 17%);
}

@media (min-width: 21.625rem), (min-height: 35.625rem) {
  .perfume-gabrielleEssence .gabrielleEssence-description pre {
    width: 90%;
    font-size: 1.0625rem;
  }
  .button-area {
    margin-top: 2.5rem;
  }
}
@media (min-width: 33.375rem), (min-height: 35.9375rem) {
  .perfume-gabrielleEssence img {
    width: 30.625rem;
  }
  .perfume-gabrielleEssence .button-area button {
    width: 27.1875rem;
  }
  .perfume-gabrielleEssence .button-area {
    margin-top: 4.375rem;
  }
  .perfume-gabrielleEssence .gabrielleEssence-description pre {
    margin-top: 0.625rem;
    width: 90%;
    font-size: 1.0625rem;
  }
}
@media (min-width: 54.6875rem) and (min-height: 40.0625rem) {
  .perfume-gabrielleEssence {
    width: 35%;
    height: 55%;
    display: flex;
  }
  .perfume-gabrielleEssence .image1 {
    display: none;
  }
  .perfume-gabrielleEssence .image2 {
    border-radius: 0.6rem 0 0 0.6rem;
    display: block;
  }
  .perfume-gabrielleEssence img {
    height: 100%;
    width: 50%;
    border-radius: 0;
  }
  .perfume-gabrielleEssence .desktop-design {
    padding-left: 0.9375rem;
    width: 50%;
    height: 100%;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description {
    height: 65%;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description .Perfume-title {
    margin-top: 1.875rem;
    height: 1.875rem;
    font-size: 0.8125rem;
    font-weight: 700;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description h1 {
    height: 5.625rem;
    width: 13.75rem;
    font-size: 1.625rem;
    line-height: 1.6875rem;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description pre {
    translate: 0 -0.5rem;
    height: 6.25rem;
    width: 80%;
    line-height: 1.5625rem;
  }
  .perfume-gabrielleEssence .desktop-design .button-area {
    height: 25%;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .perfume-gabrielleEssence .desktop-design .button-area .active {
    width: 5.625rem;
  }
  .perfume-gabrielleEssence .desktop-design .button-area .on-sale {
    width: -moz-max-content;
    width: max-content;
    align-content: center;
    position: relative;
    left: 3.5rem;
  }
  .perfume-gabrielleEssence .desktop-design .button-area button {
    width: 100%;
  }
}
@media (min-width: 54.6875rem) and (min-height: 40.0625rem) {
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description pre {
    margin-top: 0.625rem;
    width: 100%;
    font-size: 0.875rem;
    line-height: 0.9375rem;
    height: -moz-max-content;
    height: max-content;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description h1 {
    width: 6.25rem;
    line-height: 1.25rem;
    font-size: 1.25rem;
  }
  .perfume-gabrielleEssence .button-area .active {
    font-size: 1.75rem;
  }
  .perfume-gabrielleEssence .button-area .on-sale {
    margin-left: 0.625rem;
  }
}
@media (min-width: 68.1875rem) and (min-height: 49.0625rem) {
  .perfume-gabrielleEssence pre {
    margin-top: 1.25rem;
    font-size: 1.875rem;
  }
}
@media (min-width: 77.0625rem) and (min-height: 45.875rem) {
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description pre {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 1.0625rem;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description h1 {
    width: 10.625rem;
  }
  .perfume-gabrielleEssence .button-area .active {
    font-size: 1.9375rem;
  }
  .perfume-gabrielleEssence .button-area .on-sale {
    bottom: 0.5rem;
    margin-left: 2.1rem;
  }
}
@media (min-width: 79.75rem) and (min-height: 53.6875rem) {
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description pre {
    margin-top: 1.25rem;
    font-size: 1.0625rem;
    line-height: 1.375rem;
  }
  h1 {
    width: 9.375rem;
    height: -moz-max-content;
    height: max-content;
  }
  .perfume-gabrielleEssence .desktop-design .button-area .active {
    font-size: 2.1875rem;
  }
}
@media (min-width: 81.25rem) and (min-height: 56.25rem) {
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description h1 {
    width: 15rem;
    font-size: 2.25rem;
    line-height: 1.875rem;
  }
  .perfume-gabrielleEssence .desktop-design .gabrielleEssence-description pre {
    margin-top: 3.125rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */