$dark-Cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

$dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
@function rem($value){
    @return ($value/16) + rem
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
background-color: $cream;
width: 320px;
height: 480px;
display: flex;
justify-content: center;
align-items: center;
}

.perfume-gabrielleEssence{
    width: 92%;
    height: 90%;
    background-color: $white;
    border-radius: rem(10);
    // border: 3px solid red;
    img{
        width: 100%;
        height: 40%;
        background-size: cover;
        border-radius: rem(10) rem(10) 0 0;

    }

        .gabrielleEssence-description{
            margin:auto;
            width: 90%;
            height: 60%;
                span{
                    font-size: rem(14);
                }
                h1{
                    // font-size: 1rem;
                    font: 1.5rem "Montserrat", sans-serif;
                    font-weight: 700;
                }

        }
}